In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
df_deliveries = pd.read_csv('deliveries.csv',)
df_deliveries.info()
df_deliveries.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
5,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,6,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
6,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,7,BB McCullum,P Kumar,SC Ganguly,0,1,1,legbyes,0,NaN,NaN,NaN
7,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,BB McCullum,Z Khan,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
8,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN
9,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN

In [3]:
df_matches = pd.read_csv('matches.csv',)
df_matches.info()
df_matches.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1044 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 171.2+ KB

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
5,335987,2007/08,Jaipur,2008-04-21,League,SR Watson,Sawai Mansingh Stadium,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,167.0,20.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,2007/08,Hyderabad,2008-04-22,League,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,143.0,20.0,N,NaN,IL Howell,AM Saheba
7,335989,2007/08,Chennai,2008-04-23,League,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,209.0,20.0,N,NaN,DJ Harper,GA Pratapkumar
8,335990,2007/08,Hyderabad,2008-04-24,League,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,215.0,20.0,N,NaN,Asad Rauf,MR Benson
9,335991,2007/08,Chandigarh,2008-04-25,League,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,183.0,20.0,N,NaN,Aleem Dar,AM Saheba
10,335992,2007/08,Bangalore,2008-04-26,League,SR Watson,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,136.0,20.0,N,NaN,MR Benson,IL Howell
11,335993,2007/08,Chennai,2008-04-26,League,JDP Oram,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kolkata Knight Riders,Kolkata Knight Riders,bat,Chennai Super Kings,wickets,9.0,148.0,20.0,N,NaN,BF Bowden,AV Jayaprakash
12,335994,2007/08,Mumbai,2008-04-27,League,AC Gilchrist,Dr DY Patil Sports Academy,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,10.0,155.0,20.0,N,NaN,Asad Rauf,SL Shastri
13,335995,2007/08,Chandigarh,2008-04-27,League,SM Katich,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,bat,Kings XI Punjab,wickets,4.0,159.0,20.0,N,NaN,RE Koertzen,I Shivram
14,335996,2007/08,Bangalore,2008-04-28,League,MS Dhoni,M Chinnaswamy Stadium,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,179.0,20.0,N,NaN,BR Doctrove,RB Tiffin
15,335997,2007/08,Kolkata,2008-04-29,League,ST Jayasuriya,Eden Gardens,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,7.0,138.0,20.0,N,NaN,BF Bowden,AV Jayaprakash
16,335998,2007/08,Delhi,2008-04-30,League,GD McGrath,Feroz Shah Kotla,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Delhi Daredevils,runs,10.0,192.0,20.0,N,NaN,Aleem Dar,I Shivram
17,335999,2007/08,Hyderabad,2008-05-01,League,SE Marsh,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,7.0,165.0,20.0,N,NaN,BR Doctrove,RB Tiffin
18,336000,2007/08,Jaipur,2008-05-01,League,SA Asnodkar,Sawai Mansingh Stadium,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,Rajasthan Royals,runs,45.0,197.0,20.0,N,NaN,RE Koertzen,GA Pratapkumar
19,336001,2007/08,Chennai,2008-05-02,League,V Sehwag,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Delhi Daredevils,wickets,8.0,170.0,20.0,N,NaN,BF Bowden,K Hariharan
20,336003,2007/08,Chandigarh,2008-05-03,League,IK Pathan,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Kolkata Knight Riders,Kings XI Punjab,bat,Kings XI Punjab,runs,9.0,179.0,20.0,N,NaN,DJ Harper,I Shivram
21,336034,2007/08,Bangalore,2008-05-03,League,P Kumar,M Chinnaswamy Stadium,Royal Challengers Bangalore,Deccan Chargers,Deccan Chargers,field,Royal Challengers Bangalore,runs,3.0,157.0,20.0,N,NaN,BR Doctrove,SL Shastri
22,336004,2007/08,Mumbai,2008-05-04,League,SM Pollock,Dr DY Patil Sports Academy,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians,runs,29.0,163.0,20.0,N,NaN,IL Howell,RE Koertzen
23,336005,2007/08,Jaipur,2008-05-04,League,Sohail Tanvir,Sawai Mansingh Stadium,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,bat,Rajasthan Royals,wickets,8.0,110.0,20.0,N,NaN,Asad Rauf,AV Jayaprakash
24,336006,2007/08,Bangalore,2008-05-05,League,S Sreesanth,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,127.0,20.0,N,NaN,SJ Davis,BR Doctrove
25,336007,2007/08,Chennai,2008-05-06,League,AC Gilchrist,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,7.0,145.0,20.0,N,NaN,MR Benson,RB Tiffin
26,336008,2007/08,Mumbai,2008-05-07,League,A Nehra,Dr DY Patil Sports Academy,Mumbai Indians,Rajasthan Royals,Mumbai Indians,field,Mumbai Indians,wickets,7.0,104.0,20.0,N,NaN,DJ Harper,RE Koertzen
27,336009,2007/08,Delhi,2008-05-08,League,MS Dhoni,Feroz Shah Kotla,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,4.0,188.0,20.0,N,NaN,Aleem Dar,RB Tiffin
28,336010,2007/08,Kolkata,2008-05-08,League,SC Ganguly,Eden Gardens,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,5.0,130.0,16.0,N,NaN,Asad Rauf,IL Howell
29,336011,2007/08,Jaipur,2008-05-09,League,YK Pathan,Sawai Mansingh Stadium,Rajasthan Royals,Deccan Chargers,Rajasthan Royals,field,Rajasthan Royals,wickets,8.0,141.0,20.0,N,NaN,MR Benson,AM Saheba
30,336013,2007/08,Chennai,2008-05-10,League,L Balaji,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,Chennai Super Kings,runs,18.0,182.0,20.0,N,NaN,AV Jayaprakash,BG Jerling
31,336014,2007/08,Hyderabad,2008-05-11,League,SC Ganguly,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,23.0,205.0,20.0,N,NaN,IL Howell,AM Saheba
32,336015,2007/08,Jaipur,2008-05-11,League,SR Watson,Sawai Mansingh Stadium,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,157.0,20.0,N,NaN,SJ Davis,RE Koertzen
33,336016,2007/08,Chandigarh,2008-05-12,League,SE Marsh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Kings XI Punjab,wickets,9.0,144.0,20.0,N,NaN,BR Doctrove,I Shivram
34,336017,2007/08,Kolkata,2008-05-13,League,Shoaib Akhtar,Eden Gardens,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,23.0,134.0,20.0,N,NaN,Asad Rauf,IL Howell
35,336018,2007/08,Mumbai,2008-05-14,League,ST Jayasuriya,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,9.0,157.0,20.0,N,NaN,BR Doctrove,AM Saheba
36,336020,2007/08,Delhi,2008-05-15,League,A Mishra,Feroz Shah Kotla,Delhi Daredevils,Deccan Chargers,Deccan Chargers,field,Delhi Daredevils,runs,12.0,195.0,20.0,N,NaN,BG Jerling,GA Pratapkumar
37,336021,2007/08,Mumbai,2008-05-16,League,SM Pollock,Wankhede Stadium,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,8.0,68.0,20.0,N,NaN,BR Doctrove,DJ Harper
38,336022,2007/08,Delhi,2008-05-17,League,DPMD Jayawardene,Feroz Shah Kotla,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,Kings XI Punjab,runs,6.0,89.0,8.0,N,D/L,AV Jayaprakash,RE Koertzen
39,336023,2007/08,Jaipur,2008-05-17,League,GC Smith,Sawai Mansingh Stadium,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Rajasthan Royals,runs,65.0,198.0,20.0,N,NaN,BF Bowden,SL Shastri
40,336024,2007/08,Hyderabad,2008-05-18,League,DJ Bravo,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Mumbai Indians,Deccan Chargers,field,Mumbai Indians,runs,25.0,179.0,20.0,N,NaN,BR Doctrove,DJ Harper
41,336025,2007/08,Kolkata,2008-05-18,League,M Ntini,Eden Gardens,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders,bat,Chennai Super Kings,runs,3.0,53.0,8.0,N,D/L,Asad Rauf,K Hariharan
42,336026,2007/08,Bangalore,2008-05-19,League,SP Goswami,M Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,5.0,155.0,20.0,N,NaN,SJ Davis,GA Pratapkumar
43,336027,2007/08,Kolkata,2008-05-20,League,YK Pathan,Eden Gardens,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,6.0,148.0,20.0,N,NaN,BG Jerling,RE Koertzen
44,336028,2007/08,Mumbai,2008-05-21,League,SE Marsh,Wankhede Stadium,Mumbai Indians,Kings XI Punjab,Mumbai Indians,field,Kings XI Punjab,runs,1.0,190.0,20.0,N,NaN,BF Bowden,GA Pratapkumar
45,336029,2007/08,Chennai,2008-05-21,League,A Kumble,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,14.0,127.0,20.0,N,NaN,DJ Harper,I Shivram
46,336031,2007/08,Chandigarh,2008-05-23,League,SE Marsh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Deccan Chargers,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,176.0,20.0,N,NaN,Asad Rauf,SJ Davis
47,336032,2007/08,Delhi,2008-05-24,League,KD Karthik,Feroz Shah Kotla,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,field,Delhi Daredevils,wickets,5.0,177.0,20.0,N,NaN,BF Bowden,K Hariharan
48,336033,2007/08,Chennai,2008-05-24,League,JA Morkel,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,bat,Rajasthan Royals,runs,10.0,212.0,20.0,N,NaN,DJ Harper,SL Shastri
49,336002,2007/08,Hyderabad,2008-05-25,League,R Vinay Kumar,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Royal Challengers Bangalore,Deccan Chargers,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,Asad Rauf,RE Koertzen

In [4]:
total_score_df = df_deliveries.groupby(['match_id','inning']).sum()['total_runs'].add(1).reset_index()

In [5]:
total_score_df = total_score_df[total_score_df['inning']==1]
total_score_df

      match_id  inning  total_runs
0       335982       1         223
2       335983       1         241
4       335984       1         130
6       335985       1         166
8       335986       1         111
...        ...     ...         ...
2207   1426307       1         215
2209   1426309       1         160
2211   1426310       1         173
2213   1426311       1         176
2215   1426312       1         114

[1095 rows x 3 columns]

In [6]:
# only first innning score of all matches
match_df = df_matches.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,223
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,241
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,130
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,166
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,215
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,160
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,173
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,176
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,114

In [7]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [8]:
#data cleaning
teams = [
    'sunrisers hyderabad',
    'mumbai indians',
    'royal challengers bangalore',
    'kolkata knight riders',
    'kings xi punjab',
    'chennai super kings',
    'rajasthan royals',
    'delhi capitals'
]

In [9]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','delhi capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','delhi capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','sunrisers hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','sunrisers hyderabad')

In [10]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [11]:
match_df.shape

(11, 22)

In [12]:
match_df['team1'].value_counts()

team1
sunrisers hyderabad    6
delhi capitals         5
Name: count, dtype: int64

In [13]:
match_df['team2'].value_counts()

team2
delhi capitals         6
sunrisers hyderabad    5
Name: count, dtype: int64

In [14]:
match_df.shape

(11, 22)

In [15]:
# matches where DLS method is not appllied

In [16]:
match_df = match_df[['id','city','winner','total_runs']]

In [17]:
match_df = match_df.rename(columns={'id':'match_id'})

In [18]:
delivery_df = match_df.merge(df_deliveries,on='match_id')

In [19]:
# for only second inning

delivery_df = delivery_df[delivery_df['inning'] == 2]

In [20]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,WPUJC Vaas,V Sehwag,1,0,1,NaN,0,NaN,NaN,NaN
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,WPUJC Vaas,G Gambhir,1,0,1,NaN,0,NaN,NaN,NaN
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,WPUJC Vaas,V Sehwag,1,0,1,NaN,0,NaN,NaN,NaN
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,WPUJC Vaas,G Gambhir,0,0,0,NaN,0,NaN,NaN,NaN
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,WPUJC Vaas,G Gambhir,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2623,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,15,6,DA Warner,Ankit Sharma,NV Ojha,6,0,6,NaN,0,NaN,NaN,NaN
2624,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,1,NV Ojha,TP Sudhindra,DA Warner,0,0,0,NaN,0,NaN,NaN,NaN
2625,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,2,NV Ojha,TP Sudhindra,DA Warner,0,0,0,NaN,0,NaN,NaN,NaN
2626,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,3,NV Ojha,TP Sudhindra,DA Warner,4,0,4,NaN,0,NaN,NaN,NaN
2627,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,4,NV Ojha,TP Sudhindra,DA Warner,6,0,6,NaN,0,NaN,NaN,NaN

In [21]:
# for claculatin how muche balls are lef and how much runs remaeaning after every ball so we hav eto use the cummulative sum on 'total_runs_y'


# Ensure 'total_runs_y' is numeric
delivery_df['total_runs_y'] = pd.to_numeric(delivery_df['total_runs_y'])

# Calculate cumulative sum within each group
delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].transform('cumsum')

# delivery_df.drop(columns=['cumulative_runs'], inplace=True)

delivery_df
# delivery_df['current_score'] = delivery_df.groupby('match_id').cumsum()['total_runs_y']

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,...,V Sehwag,1,0,1,NaN,0,NaN,NaN,NaN,1
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,...,G Gambhir,1,0,1,NaN,0,NaN,NaN,NaN,2
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,...,V Sehwag,1,0,1,NaN,0,NaN,NaN,NaN,3
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,...,G Gambhir,0,0,0,NaN,0,NaN,NaN,NaN,3
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,...,G Gambhir,1,0,1,NaN,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2623,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,15,6,DA Warner,...,NV Ojha,6,0,6,NaN,0,NaN,NaN,NaN,183
2624,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,1,NV Ojha,...,DA Warner,0,0,0,NaN,0,NaN,NaN,NaN,183
2625,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,2,NV Ojha,...,DA Warner,0,0,0,NaN,0,NaN,NaN,NaN,183
2626,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,3,NV Ojha,...,DA Warner,4,0,4,NaN,0,NaN,NaN,NaN,187
2627,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,4,NV Ojha,...,DA Warner,6,0,6,NaN,0,NaN,NaN,NaN,193

In [22]:
# total_runs_x = target runs

In [23]:
delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [24]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,...,1,0,1,NaN,0,NaN,NaN,NaN,1,142
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,...,1,0,1,NaN,0,NaN,NaN,NaN,2,141
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,...,1,0,1,NaN,0,NaN,NaN,NaN,3,140
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,...,0,0,0,NaN,0,NaN,NaN,NaN,3,140
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,...,1,0,1,NaN,0,NaN,NaN,NaN,4,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2623,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,15,6,DA Warner,...,6,0,6,NaN,0,NaN,NaN,NaN,183,5
2624,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,1,NV Ojha,...,0,0,0,NaN,0,NaN,NaN,NaN,183,5
2625,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,2,NV Ojha,...,0,0,0,NaN,0,NaN,NaN,NaN,183,5
2626,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,3,NV Ojha,...,4,0,4,NaN,0,NaN,NaN,NaN,187,1
2627,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,4,NV Ojha,...,6,0,6,NaN,0,NaN,NaN,NaN,193,-5

In [25]:
delivery_df['balls_left'] = 126 - (delivery_df['over']*6 + delivery_df['ball'])

In [26]:
delivery_df.head(10)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,...,0,1,NaN,0,NaN,NaN,NaN,1,142,125
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,...,0,1,NaN,0,NaN,NaN,NaN,2,141,124
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,...,0,1,NaN,0,NaN,NaN,NaN,3,140,123
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,...,0,0,NaN,0,NaN,NaN,NaN,3,140,122
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,...,0,1,NaN,0,NaN,NaN,NaN,4,139,121
127,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,6,G Gambhir,...,0,0,NaN,0,NaN,NaN,NaN,4,139,120
128,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,1,V Sehwag,...,0,4,NaN,0,NaN,NaN,NaN,8,135,119
129,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,2,V Sehwag,...,0,4,NaN,0,NaN,NaN,NaN,12,131,118
130,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,3,V Sehwag,...,0,1,NaN,0,NaN,NaN,NaN,13,130,117
131,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,4,G Gambhir,...,0,4,NaN,0,NaN,NaN,NaN,17,126,116

In [27]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df.head(10)
# delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x=="0" else "1")
# delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
# wickets = delivery_df.groupby('match_id').cumsum()['player_dismissed']
# delivery_df['wickets_remaining'] = 10-wickets

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,...,0,1,NaN,0,0,NaN,NaN,1,142,125
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,...,0,1,NaN,0,0,NaN,NaN,2,141,124
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,...,0,1,NaN,0,0,NaN,NaN,3,140,123
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,...,0,0,NaN,0,0,NaN,NaN,3,140,122
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,...,0,1,NaN,0,0,NaN,NaN,4,139,121
127,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,6,G Gambhir,...,0,0,NaN,0,0,NaN,NaN,4,139,120
128,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,1,V Sehwag,...,0,4,NaN,0,0,NaN,NaN,8,135,119
129,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,2,V Sehwag,...,0,4,NaN,0,0,NaN,NaN,12,131,118
130,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,3,V Sehwag,...,0,1,NaN,0,0,NaN,NaN,13,130,117
131,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,4,G Gambhir,...,0,4,NaN,0,0,NaN,NaN,17,126,116

In [28]:
# Step 2: Replace player names with 1, keep "0" as is
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x: 0 if x == "0" else 1)
delivery_df.head(10)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,...,0,1,NaN,0,0,NaN,NaN,1,142,125
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,...,0,1,NaN,0,0,NaN,NaN,2,141,124
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,...,0,1,NaN,0,0,NaN,NaN,3,140,123
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,...,0,0,NaN,0,0,NaN,NaN,3,140,122
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,...,0,1,NaN,0,0,NaN,NaN,4,139,121
127,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,6,G Gambhir,...,0,0,NaN,0,0,NaN,NaN,4,139,120
128,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,1,V Sehwag,...,0,4,NaN,0,0,NaN,NaN,8,135,119
129,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,2,V Sehwag,...,0,4,NaN,0,0,NaN,NaN,12,131,118
130,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,3,V Sehwag,...,0,1,NaN,0,0,NaN,NaN,13,130,117
131,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,4,G Gambhir,...,0,4,NaN,0,0,NaN,NaN,17,126,116

In [29]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')

delivery_df.head(10)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,...,0,1,NaN,0,0,NaN,NaN,1,142,125
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,...,0,1,NaN,0,0,NaN,NaN,2,141,124
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,...,0,1,NaN,0,0,NaN,NaN,3,140,123
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,...,0,0,NaN,0,0,NaN,NaN,3,140,122
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,...,0,1,NaN,0,0,NaN,NaN,4,139,121
127,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,6,G Gambhir,...,0,0,NaN,0,0,NaN,NaN,4,139,120
128,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,1,V Sehwag,...,0,4,NaN,0,0,NaN,NaN,8,135,119
129,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,2,V Sehwag,...,0,4,NaN,0,0,NaN,NaN,12,131,118
130,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,3,V Sehwag,...,0,1,NaN,0,0,NaN,NaN,13,130,117
131,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,4,G Gambhir,...,0,4,NaN,0,0,NaN,NaN,17,126,116

In [30]:
# Step 4: Calculate the cumulative sum of wickets for each match and inning
delivery_df['cumulative_wickets'] = delivery_df.groupby(['match_id', 'inning'])['player_dismissed'].cumsum()
delivery_df.head(10)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,cumulative_wickets
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,...,1,NaN,0,0,NaN,NaN,1,142,125,0
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,...,1,NaN,0,0,NaN,NaN,2,141,124,0
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,...,1,NaN,0,0,NaN,NaN,3,140,123,0
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,...,0,NaN,0,0,NaN,NaN,3,140,122,0
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,...,1,NaN,0,0,NaN,NaN,4,139,121,0
127,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,6,G Gambhir,...,0,NaN,0,0,NaN,NaN,4,139,120,0
128,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,1,V Sehwag,...,4,NaN,0,0,NaN,NaN,8,135,119,0
129,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,2,V Sehwag,...,4,NaN,0,0,NaN,NaN,12,131,118,0
130,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,3,V Sehwag,...,1,NaN,0,0,NaN,NaN,13,130,117,0
131,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,4,G Gambhir,...,4,NaN,0,0,NaN,NaN,17,126,116,0

In [31]:
# Step 5: Calculate the number of wickets left
delivery_df['wickets_left'] = 10 - delivery_df['cumulative_wickets']
# Display the first few rows to check
delivery_df.head(20)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,cumulative_wickets,wickets_left
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,...,NaN,0,0,NaN,NaN,1,142,125,0,10
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,...,NaN,0,0,NaN,NaN,2,141,124,0,10
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,...,NaN,0,0,NaN,NaN,3,140,123,0,10
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,...,NaN,0,0,NaN,NaN,3,140,122,0,10
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,...,NaN,0,0,NaN,NaN,4,139,121,0,10
127,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,6,G Gambhir,...,NaN,0,0,NaN,NaN,4,139,120,0,10
128,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,1,V Sehwag,...,NaN,0,0,NaN,NaN,8,135,119,0,10
129,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,2,V Sehwag,...,NaN,0,0,NaN,NaN,12,131,118,0,10
130,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,3,V Sehwag,...,NaN,0,0,NaN,NaN,13,130,117,0,10
131,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,4,G Gambhir,...,NaN,0,0,NaN,NaN,17,126,116,0,10
132,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,5,G Gambhir,...,NaN,0,0,NaN,NaN,18,125,115,0,10
133,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,1,6,V Sehwag,...,NaN,0,0,NaN,NaN,18,125,114,0,10
134,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,2,1,G Gambhir,...,NaN,0,0,NaN,NaN,19,124,113,0,10
135,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,2,2,V Sehwag,...,NaN,0,0,NaN,NaN,21,122,112,0,10
136,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,2,3,V Sehwag,...,NaN,0,0,NaN,NaN,25,118,111,0,10
137,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,2,4,V Sehwag,...,NaN,0,0,NaN,NaN,26,117,110,0,10
138,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,2,5,G Gambhir,...,NaN,0,0,NaN,NaN,26,117,109,0,10
139,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,2,6,G Gambhir,...,NaN,0,0,NaN,NaN,30,113,108,0,10
140,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,3,1,V Sehwag,...,NaN,0,0,NaN,NaN,30,113,107,0,10
141,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,3,2,V Sehwag,...,NaN,0,0,NaN,NaN,31,112,106,0,10

In [32]:
# calculating current run-rate
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [33]:
# calculating required run-rate
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

In [34]:
# winner= batting team then 1 otherwise 0

def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [35]:
delivery_df['result'] = delivery_df.apply(result,axis=1)
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,dismissal_kind,fielder,current_score,runs_left,balls_left,cumulative_wickets,wickets_left,crr,rrr,result
122,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,1,G Gambhir,...,NaN,NaN,1,142,125,0,10,-1.200000,6.816000,1
123,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,2,V Sehwag,...,NaN,NaN,2,141,124,0,10,-3.000000,6.822581,1
124,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,3,G Gambhir,...,NaN,NaN,3,140,123,0,10,-6.000000,6.829268,1
125,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,4,V Sehwag,...,NaN,NaN,3,140,122,0,10,-9.000000,6.885246,1
126,335988,Hyderabad,Delhi Daredevils,143,2,Delhi Daredevils,Deccan Chargers,0,5,V Sehwag,...,NaN,NaN,4,139,121,0,10,-24.000000,6.892562,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2623,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,15,6,DA Warner,...,NaN,NaN,183,5,30,1,9,12.200000,1.000000,1
2624,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,1,NV Ojha,...,NaN,NaN,183,5,29,1,9,12.065934,1.034483,1
2625,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,2,NV Ojha,...,NaN,NaN,183,5,28,1,9,11.934783,1.071429,1
2626,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,3,NV Ojha,...,NaN,NaN,187,1,27,1,9,12.064516,0.222222,1
2627,548329,Hyderabad,Delhi Daredevils,188,2,Delhi Daredevils,Deccan Chargers,16,4,NV Ojha,...,NaN,NaN,193,-5,26,1,9,12.319149,-1.153846,1

In [36]:
# fetching the required data only
final_df = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_runs_x','crr','rrr','result']]

In [37]:
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
122,Delhi Daredevils,Deccan Chargers,Hyderabad,142,125,10,143,-1.200000,6.816000,1
123,Delhi Daredevils,Deccan Chargers,Hyderabad,141,124,10,143,-3.000000,6.822581,1
124,Delhi Daredevils,Deccan Chargers,Hyderabad,140,123,10,143,-6.000000,6.829268,1
125,Delhi Daredevils,Deccan Chargers,Hyderabad,140,122,10,143,-9.000000,6.885246,1
126,Delhi Daredevils,Deccan Chargers,Hyderabad,139,121,10,143,-24.000000,6.892562,1
...,...,...,...,...,...,...,...,...,...,...
2623,Delhi Daredevils,Deccan Chargers,Hyderabad,5,30,9,188,12.200000,1.000000,1
2624,Delhi Daredevils,Deccan Chargers,Hyderabad,5,29,9,188,12.065934,1.034483,1
2625,Delhi Daredevils,Deccan Chargers,Hyderabad,5,28,9,188,11.934783,1.071429,1
2626,Delhi Daredevils,Deccan Chargers,Hyderabad,1,27,9,188,12.064516,0.222222,1
2627,Delhi Daredevils,Deccan Chargers,Hyderabad,-5,26,9,188,12.319149,-1.153846,1

In [38]:
# data can be biased because the data of the same match is together so we have to suffle it

final_df = final_df.sample(final_df.shape[0])

In [39]:
# Dropping NUll Values
final_df.dropna(inplace=True)

In [40]:
# Replace infinite values in column 'crr' with the large value
final_df['crr'] = final_df['crr'].replace([np.inf, -np.inf], 1e10)

In [41]:
final_df.sample()
# in below result Chennai Super Kings is loosing team because result is 0

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
1078,Deccan Chargers,Delhi Daredevils,Centurion,132,117,9,154,44.0,6.769231,1

In [42]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets_left    0
total_runs_x    0
crr             0
rrr             0
result          0
dtype: int64

In [43]:
# Removing rows where balls_left==0 to remove -inf and inf from rrr column
final_df = final_df[final_df['balls_left']!=0]

In [44]:
# Storing data in new csv
final_df.to_csv("final_df.csv", index=False)

In [45]:
# building model logistic regression

from sklearn.model_selection import train_test_split as tts

In [46]:
x = final_df.iloc[:, :-1]
y = final_df.iloc[:,-1]

In [47]:
x_train,x_test,y_train,y_test = tts(x,y,test_size=0.25,random_state=100)
x_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr
1803,Delhi Daredevils,Deccan Chargers,Delhi,147,111,10,169,14.666667,7.945946
1572,Delhi Daredevils,Deccan Chargers,Delhi,110,97,7,146,9.391304,6.804124
2141,Delhi Daredevils,Deccan Chargers,Hyderabad,22,27,5,176,9.935484,4.888889
1847,Delhi Daredevils,Deccan Chargers,Delhi,96,68,7,169,8.423077,8.470588
641,Delhi Daredevils,Deccan Chargers,Centurion,76,62,7,149,7.551724,7.354839
...,...,...,...,...,...,...,...,...,...
822,Deccan Chargers,Delhi Daredevils,Durban,169,124,10,174,-7.500000,8.177419
2393,Delhi Daredevils,Deccan Chargers,Delhi,10,20,5,158,8.880000,3.000000
1798,Delhi Daredevils,Deccan Chargers,Delhi,159,116,10,169,15.000000,8.224138
2060,Delhi Daredevils,Deccan Chargers,Hyderabad,161,103,8,176,5.294118,9.378641
856,Deccan Chargers,Delhi Daredevils,Durban,126,92,8,174,10.285714,8.217391

In [48]:
x_test

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr
667,Delhi Daredevils,Deccan Chargers,Centurion,48,36,7,149,7.214286,8.000000
1887,Delhi Daredevils,Deccan Chargers,Delhi,53,28,4,169,7.565217,11.357143
1105,Deccan Chargers,Delhi Daredevils,Centurion,84,93,9,154,15.555556,5.419355
372,Deccan Chargers,Delhi Daredevils,Delhi,122,85,8,195,12.514286,8.611765
2391,Delhi Daredevils,Deccan Chargers,Delhi,15,22,5,158,8.755102,4.090909
...,...,...,...,...,...,...,...,...,...
908,Deccan Chargers,Delhi Daredevils,Durban,51,43,7,174,9.584416,7.116279
157,Delhi Daredevils,Deccan Chargers,Hyderabad,99,90,9,143,8.800000,6.600000
2322,Delhi Daredevils,Deccan Chargers,Delhi,119,88,7,158,7.312500,8.113636
1069,Deccan Chargers,Delhi Daredevils,Centurion,154,125,10,154,-0.000000,7.392000
1332,Delhi Daredevils,Deccan Chargers,Cuttack,130,95,9,172,10.080000,8.210526

In [49]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [50]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [51]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [52]:
y_pred = pipe.predict(x_test)

In [53]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.5220125786163522

In [54]:
pipe.predict_proba(x_test)[0]

array([0.5, 0.5])

In [55]:
# import pickle
# pickle.dump(pipe,open('pipe.pkl','wb'))

In [56]:
# Random Forest classifier


from sklearn.ensemble import RandomForestClassifier
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
],
remainder='passthrough')

pipe = Pipeline([
    ('step1',trf),
    ('step2',RandomForestClassifier())
])

pipe.fit(x_train,y_train)

y_pred = pipe.predict(x_test)

accuracy_score(y_test,y_pred)

1.0

In [57]:
pipe.predict_proba(x_test)[1]

array([1., 0.])

In [58]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))